# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Kubernetes secrets
k8s/secret.yaml

# ArgoCD secrets
argocd/github-secret.yaml
argocd/github-ssh-secret.yaml
argocd-key
argocd-key.pub

# Documentation
/docs

# vscode
.vscode/*
